<h3>Variables
</h3>
<p>A variable is a label for a location in memory. It can be used to hold a value.
</p>
<p>In statically typed languages, variables have predetermined types, and a variable can only be used to hold values of that type.
</p>
The three different types of variables in OOP in Python are:
Instance Variables: Variables that are defined inside init. These are of object level.
Class/Static Variables: Variables that are defined outside the init method. These are of class level.
Local variables: Variables that are confined to a method are called local variables and these are of method level.
NB:- A variable makes use of the assignment operator, "=" to store (assign) a value in it.
Examples include;
type ="freelancer";
type1 = 1;
type2 = 'A';
Where type, type1 and type2 are variables that store values.
