<h3>C++ Functions</h3>
<p>Functions allow to structure programs in segments of code to perform individual tasks.
</p>
<p>In C++, a function is a group of statements that is given a name, and which can be called from some point of the program. The most common syntax to define a function is:
</p>
<b>type name ( parameter1, parameter2, ...) {{"{"}} statements {{"}"}}
</b>
Where:

<ul>
    <li>Type is the type of the value returned by the function.
    </li> <br>
    <li>Name is the identifier by which the function is called.
    </li><br>
    <li>Parameters (as many as needed): Each parameter consists of a type followed by an identifier, with each parameter being separated from the next by a comma. Each parameter looks very much like a regular variable declaration (for example: int x), and in fact acts within the function as a regular variable which is local to the function. The purpose of parameters is to allow passing arguments to the function from the location where it is called from.
    </li><br>
    <li>Statements is the function's body. It is a block of statements surrounded by braces {{"{"}} {{"}"}} that specify what the function actually does.
    </li>
  </ul>
  <p>	Lets have a look at an example
</p>
<pre class="code-block">
    <code>
        // function example
#include &lt;iostream&gt;
using namespace std;

int multiplication (int x, int y)
{{"{"}}
  int n;
  n=x*y;
  return n;
{{"}"}}

int addition (int p, int q)
{{"{"}}
  int value;
  value=p+q;
  return value;
{{"}"}}

string 

int main ()
{{"{"}}
  int z;
  z = addition (5,3);
  cout << "The result is " << z;
{{"}"}}
    </code>
</pre>



