<h3>C++ Conditionals</h3>
<p>
  In C++, conditional statements, also known as control-flow statements, are
  used to determine the flow of the program, i.e., which section of code is</p>
  executed in different scenarios based on conditions.
  <p> There are mainly four
    types of conditional statements in C++:</p>

<ul>
  <li>If statements</li>
  <li>If Else Statements</li>
  <li>Else If Statements</li>
  <li>Switch statements</li>
</ul>

<p>
  It's important to note that all conditional statements must have a condition
  in parentheses (), and the code to execute must be enclosed within curly
  braces {{ "{" }}{{ "}" }}.
</p>
<p>
  Additionally, conditional statements can be nested within one another and
  logical operators such as && (and), || (or), and ! (not) can be used to create
  more complex conditions.
</p>
