<h3>C++ Conditionals</h3>
<p>
    In C++, conditional statements, also known as control-flow statements, are used to determine the flow of the program, i.e., which section of code is executed in different scenarios based on conditions. There are mainly three types of conditional statements in C++:

</p>
1. If statement: This statement is used to execute a block of code only if a certain condition is true. The general form of the if statement is:

if (condition) {{"{"}}
  // code to be executed if the condition is true
{{"}"}}
 

2. If-else statement: This statement is used to execute a block of code if a certain condition is true and another block of code if the condition is false. The general form of the if-else statement is:

if (condition) {{"{"}}
  // code to be executed if the condition is true
{{"}"}} else {{"{"}}
  // code to be executed if the condition is false
{{"}"}}


3. Switch statement: This statement is used to compare a variable to multiple values and execute a block of code based on the value of the variable. The general form of the switch statement is:

switch (variable) {{"{"}}
  case value1:
    // code to be executed if variable matches value1
    break;
  case value2:
    // code to be executed if variable matches value2
    break;
  ...
  default:
    // code to be executed if variable does not match any value
    break;
{{"}"}}


<p>
    It's important to note that all conditional statements must have a condition in parentheses (), and the code to execute must be enclosed within curly braces {{"{"}}{{"}"}}.

</p>
<p>
    Additionally, conditional statements can be nested within one another and logical operators such as && (and), || (or), and ! (not) can be used to create more complex conditions.
</p>