<h3>Introduction to C++</h3>
<p>C++ is a low level programming language</p>
<p>It is both a  proceedural and object oriented  programming language</p>
<p>Basically, C++ is C with classes</p>
<p>Programming languages like C#, Java, Javascript, Python etc are built from C++</p>
<p>C++ builds applications that enable others to build applications such as browsers, compilers etc.</p>

<h5>History of C++</h5>
<p>
    C++ was developed by Bjarne Stroustrup at Bell Laboratories over a period starting in 1979. 
</p>
<p>Since C++ is an attempt to add object-oriented features (plus other improvements) to C, earlier it was called as “C with Objects”. </p>
<p>
    As the language developed, Stroustrup named it as C++ in 1983.
</p>
<p>
    C++ was made available outside Bell Laboratories in 1985. The first commercial C++ compiler, Cfront, was released in 1985. 
</p>
<p>
    It was only a front-end compiler for C.
</p>
<p>
     The American National Standard Institute (ANSI) formed a committee for (precise description of computer language) C++, in 1989.  
</p>
<p>
    The first draft standards were published in 1995.
</p>

<h5>
    Usecases Of C++
</h5>
<p>
    1. Operating Systems
</p>
<p>
    2. Games
</p>
<p>
    3.  GUI Based Applications
</p>
<p>
  4.  Web Browsers
</p>
<p>
  5.  Embedded Systems
</p>
<p>
    6. Compilers
</p>
<p>
    As you can see, the possibilities and uses of C++ are limitless. 
    Even if you have never coded in C++ before, you have indirectly
     used it while running an application because most of them are written in it.
      This guide is a step by step to getting your hands dirty in this awesome language.
</p>