<app-header></app-header>
<div class="donation-container">
    <h4>Make a Donation</h4>
    <p>Thank you for considering a donation to our cause. Your support is greatly appreciated.</p>
    
    <div class="payment-options">
      <h5>Select Payment Method</h5>
      <div class="payment-method">
        <input type="radio" id="paypal" name="paymentMethod" value="paypal">
        <label for="paypal">PayPal</label>
      </div>
      <div class="payment-method">
        <input type="radio" id="creditCard" name="paymentMethod" value="creditCard">
        <label for="creditCard">Credit Card</label>
      </div>
      <div class="payment-method">
        <input type="radio" id="momo" name="paymentMethod" value="momo">
        <label for="momo">MoMo</label>
      </div>
    </div>
  
    <div class="payment-details">
      <h5>MoMo Mobile Payment</h5>
      <p>Donate using your MoMo account:</p>
      <div class="momo-instructions">
        <p>1. Dial *126# on your phone</p>
        <p>2. Select 'Send Money'</p>
        <p>3. Enter our MoMo number: <span class="momo-number">652541943</span></p>
        <p>4. Enter the donation amount</p>
        <p>5. Confirm the payment</p>
      </div>
    </div>
  <app-footer></app-footer>