<footer>
        <div class="footer-section">
          <h6>Numfor Elmer</h6>
          <p>elmerelmander@gmail.com</p>
          <p>652541943</p>
          
        </div>
        <div class="footer-section">
          <h6>Tawah Peggy</h6>
          <p>tawahpeggy1998@gmail.com</p>
          <p>677024039</p>
        
        </div>
        <div class="footer-section">
            <h6>Theodore Stephane</h6>
            <p>theodoremg05@gmail.com</p>
            <p>690586421</p>
          </div>  
            <div class="footer-section">
                <h6>Robeau Emmanuel</h6>
            <p>robeautd@gmail.com</p>
            <p>690025032</p>
          </div>  
          <div class="footer-section">
            <h6>Timothee Gael</h6>
            <p>gaelondigui@gmail.com</p>
            <p>696311914</p>
          </div> <br>
      </footer>
      <section class="small-footer text-center text-white p-2"><p > &copy; 2023 PlasticSmart-GoldenFive-GreenHack. All rights reserved. </p></section>  
       <p></p>
    
    
    