footer {
    background-color: #000000db;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section a {
    color: #FFFFFF;
  }
  
  .footer-section form input,
  .footer-section form button {
    margin: 5px 0;
  }
  
  .footer-section form input[type="text"],
  .footer-section form input[type="email"] {
    width: 100%;
    padding: 5px;
  }
  
  .footer-section form button {
    background-color: #009900;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .small-footer {
    background-color: #009900;
  }