<div class="footer background">
  
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="../../../assets/logo.JPG" alt="logo."> 
            <p>Members of the team</p>

        </div>
        <div class="col-sm-2">
<p>Fiona Anye</p>
<p>Software Developer</p>
<a href="url">Gmail</a> |
<a href="url">Twitter</a> |
<a href="url">LinkedIn</a> |
        </div>
        <div class="col-sm-2">
<p>Zianny Zinkeng</p>
<p>Software Student</p>
<a href="url">Gmail</a> |
<a href="url">Twitter</a> |
<a href="url">LinkedIn</a> |
        </div>
        <div class="col-sm-2">
<p>Hotou Morelle</p>  
<p>Software Developer</p>
<a href="url">Gmail</a> |
<a href="url">Twitter</a> |
<a href="url">LinkedIn</a> |
      </div>
        <div class="col-sm-2">
<p>Tawah Peggy Che</p>
<p>Software Developer</p>
<a href="url">Gmail</a> |
<a href="url">Twitter</a> |
<a href="url">LinkedIn</a> |
        </div>
    </div>
</div>
</div>