<h3>
    Encapsulation
</h3>
<p>
    Encapsulation is a fundamental object-oriented programming concept that refers to the bundling of data and functions
    that operate on that data within a single entity, known as a class.
</p>
<p>
    Encapsulation ensures that the data is accessed and manipulated only
    through the interface provided by the class.
    This interface consists of a set of public methods and properties
    that other code can use to interact with the object.</p>
<p>
    By encapsulating the data and functions within a class,
    we can protect the data from accidental modification or misuse by external code.
    This helps to ensure the correctness and reliability of the code and makes
    it easier to maintain and evolve over time.</p>

<p> In C++, encapsulation is implemented using access specifiers like public, private, and protected.
    These access specifiers define the visibility of the data and functions
    within the class and control how they can be accessed from outside the class.
</p>
<h6>Here's an Example.</h6>    
<pre  class="line-numbers code-block d-block">
    <code>
        
#include &lt;iostream&gt;
    using namespace std;
    
    class BankAccount {{"{"}}
    private:
        int accountNumber;
        double balance;
    
    public:
        void setAccountNumber(int num) {{"{"}}
            accountNumber = num;
        {{"}"}}
    
        int getAccountNumber() {{"{"}}
            return accountNumber;
        {{"}"}}
    
        void setBalance(double bal) {{"{"}}
            balance = bal;
        {{"}"}}
    
        double getBalance() {{"{"}}
            return balance;
        {{"}"}}
    {{"}"}};
    
    int main() {{"{"}}
        BankAccount myAccount;
        myAccount.setAccountNumber(12345);
        myAccount.setBalance(1000.0);
    
        cout &lt;&lt; "Account Number: " &lt;&lt; myAccount.getAccountNumber() &lt;&lt; endl;
        cout &lt;&lt; "Balance: $" &lt;&lt; myAccount.getBalance() &lt;&lt; endl;
        return 0;
    {{"} "}}
    </code> 
 </pre>
 <video width="420" height="340" controls style="text-align:center;">
    <source src="movie.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
  </video>