  .hero-section {
    background-image: url('../../../assets/pollution.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    
    
  }
  
  .content-section {
    background-color: #000000db;
    color: #FFFFFF;
    padding: 20px;
  }
  
 
  
  .registration-button {
    padding: 10px 20px;
    background-color: #009900;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .registration-button:hover {
    background-color: #00FF00;
  }
  .h1{
    display: inline-block;

  }
