<!-- <app-blog>cd </app-blog> -->
  
  <app-header></app-header>
  <div class="container-fluid hero-section">
    <div class="row">
      <div class="col-sm-12 text-center"><h1 >Welcome to the Plastic Smart Solution</h1>
      </div>
      <div class="col-sm-12 text-center"><h2 class="">The End of Pollution Plastics begins with you.</h2>
      </div>
      <div class="col-sm-12 text-center">Register for this amazing Experience to clean our environment.
      <br> <br>  <a routerLink = "/register" class="registration-button"> Registration</a></div>
    </div>
  </div>

<p class="p-3 m-2">
    We live in a time when we are all aware of the environmental challenges we face, including plastic pollution. Every year, millions of tons of plastic waste end up in our 🌊 causing irreparable damage to our 🌍 life that depends on it.
    The good news is that as individuals, we can make a difference by taking simple steps to reduce plastic pollution. One of the most effective ways to do this is ♻️.
    Together, we have the power to protect our 🌍 by taking positive action to reduce plastic pollution. Let's redouble our efforts to recycle plastic bottles whenever possible and opt for eco-friendly  
    Thank you in advance for your commitment to protecting our planet. Let's act together now and fight plastic pollution!alternatives. Every effort we work to make our world a safer, healthier and happier place for ourselves and for future generations
</p>  
<app-footer></app-footer>