
<h3>
    DataTypes

</h3>
<p>
    A data type, in programming, is a classification that specifies which type of value a variable has and what type of mathematical, relational or logical operations can be applied to it without causing an error. A string, for example, is a data type that is used to classify text and an integer is a data type used to classify whole numbers. Examples of data types include; String, Interger, Float, Character, Boolean.
</p>
Here is a brief summary of the available data types:
<br>
⦁	Numbers, (e.g., 7, 3.14). <br>
⦁	Booleans (true or false) <br>
⦁	Characters ('a', 'b', ... 'z', '1', '2', ... '9', '!', '^', etc) <br>
⦁	Arrays (a list of data (all of the Same Data Type!)) <br>
⦁	Structures (a collection of named data referring to a single entity) <br>
Some examples on how to declare variables in C# include;
bool isCoding = true;
char first_initial = 'A';
int x = 12;
float pi = 3.14f;
double fraction = 5.25;
