<h3>
    Comments
</h3>
<p>
    Comments can be used to explain code, and to make it more readable. It can also be used to prevent execution when testing alternative code.
</p>
<p>    We have two types of comments, the single-lined and the multi-lined Comments.
</p>
<div>
    <h6>Single line Comments</h6>
<p>
    Single-line comments start with two forward slashes ( <b>// </b> ).

</p>
<p>
    Any text between <b>//</b> and the end of the line is ignored by the compiler that is, will not be executed.

</p>
Let's have an example ;

<pre class="d-block code-block">
    <code>
        // This is a comment
cout << "Hello World!";
Also,
cout << "Hello World!"; // This is a comment
    </code>
</pre>
</div>
<!-- multi line comments -->

<h5>
    Multiple line Comments
</h5>
<p>
   They  are used to describe  code in more than one line or  hide large blocks of text or code from the compiler. 
   All the text between /* and */ is ignored by the compiler.
<pre class="d-block code-block">
    <code>
 /*  this is a multi line comment
and it is different from a 
single line comment because it cuts accross
multiple lines */

#include &gt; iostream &lt;

    int main(){{" {"}}
        std::cout << "Hello World!";
        return 0;
   {{" }"}}
    </code>
</pre>

<div>

</div>
