<h3>C++ Hello World</h3>
<p>After setting up your C++ environtment locally, lets walk  through your first C++ program.</p>
<pre class="code-block">
    <code>
        // your first C++ program.
        #include &lt;iostream&gt;
    using namespace std;
    int main[ ] {{"{"}}
    cout << "Hello, World" << end;
    return 0;
    {{"}"}}
    
    </code>
</pre>
<h5>Explanation of the code and its different parts.</h5> <br>
<p>   <b>// Your First C++ Program</b> <br>

    In C++, any line starting with // is a comment. <br>
    Comments are intended for the person reading the code to better understand the functionality of the program. It is completely ignored by the C++ compiler.
    </p>
    <p><br>
<b>        #include &lt;iostream&gt;
</b> <br>
        The #include is a preprocessor directive used to include files in our program. The above code is including the contents of the iostream file.
        
        This allows us to use cout in our program to print output on the screen.
    </p>
    <p>
        For now, just remember that we need to use #include &lt;iostream&gt; to use cout that allows us to print output on the screen.
    </p>
    <p>  <br>
<b> int main() {{"{"}}...{{"S"}}</b> <br>
A valid C++ program must have the main() function. The curly braces indicate the start and the end of the function.

The execution of code beings from this function.
    </p>
<p>
<br>
<b>std::cout << "Hello World!";
</b> <br>
<p>std::cout prints the content inside the quotation marks. It must be followed by << followed by the format string. 
    In our example, "Hello World!" is the format string.

    Note: ; is used to indicate the end of a statement.</p> <br>
<b>return 0;
</b> <br>
<p>The return 0; statement is the "Exit status" of the program. In simple terms, the program ends with this statement.
</p>