<h3>
    Setting up a c++ Environment in Windows

</h3>
<p>In setting c++ environment in windows, you will follow the following steps.</p>
Step 1
<p>
    Download and install a c++ compiler. One popular visual studio, which is a comprehensive IDE that supports c++. You can download it for free from Microsoft’s website.
</p>
Step 2
<p>Once you have installed visual studio, you can create a new C++ project. Go to file >new >project and then select a C++ project template. You can choose from several options,
    such as console applications, and universal Windows platform [UWP] applications.</p>
Step 3 
<p>After you have created a project, you can start writing your code. Open the main.cpp file, which contains the starting point of your program. Here’s an example of a ‘’Hello, World’’ program. 
</p>
Example;
<pre class="line-numbers">
    <code>
        #include &lt;iostream&gt; std;
int main [ ] "{{ '{' }}"
 cout &lt;&lt; 'hello world' &lt;&lt; endl ; return o;
    </code>
</pre>
Step 4 
Save your program and then compile it by pressing Ctrl + Shift + B. If there ae no errors, you can run your program by pressing F5 or going to Debug > Start Debugging. 
