<h3>
    Setting up a c++ Environment in Windows

</h3>
<p>In setting c++ environment in windows, you will follow the following steps.</p>
<h5>
    Step 1

</h5><p>
    Download and install a c++ compiler. One popular visual studio, which is a comprehensive IDE that supports c++. You can download it for free from Microsoft’s website.
</p>
<h5>
    Step 2

</h5><p>Once you have installed visual studio, you can create a new C++ project. Go to file >new >project and then select a C++ project template. You can choose from several options,
    such as console applications, and universal Windows platform [UWP] applications.</p>
    <h5>
        Step 3
    
    </h5><p>After you have created a project, you can start writing your code. Open the main.cpp file, which contains the starting point of your program. Here’s an example of a ‘’Hello, World’’ program. 
</p>
Example;
<pre class="code-block">
    <code>
        #include &lt;iostream&gt; std;
int main [ ] "{{ '{' }}"
 cout &lt;&lt; 'hello world' &lt;&lt; endl ; return o;
    </code>
</pre>
<h5>
    Step 4

</h5>Save your program and then compile it by pressing <b>Ctrl + Shift + B.</b> 
<br>
If there are no errors, you can run your program by pressing <b>F5 or going to Debug > Start Debugging</b>. 
