<h3>
    Setting up a C++ Environment in Mac
</h3>
<p>
    To set up a C++ in Mac, you need to follow these steps;
</p>
<h5>
    Step 1

</h5>
<p>
    Install a C++ compiler, Mac comes with a pre-installed version of <b>GCC</b>,<br> but you can also install Xcode, which is a comprehensive IDE that supports C++. 

</p>
<p>
    You can download it for free from the Mac App Store.
</p>
<h5>
    Step 2

</h5><p>Once you have installed Xcode , you can create a new C++ project. Go to <b>File > New ></b>

</p>
<p>
    Project and select a C++ project template. You can choose from several options, such as command-line tools, macOS applications, and iOS applications. 
</p>
<h5>
    Step 3

</h5><p>
    After you have created a project, you can start writing your code. Open the <b>main.cpp</b> file which contains the starting point of your program.  
</p>