<h3>
    Setting up a C++ Environment in Mac
</h3>
<p>
    To set up a C++ in Mac, you need to follow these steps;
</p>
Step 1
<p>
    Install a C++ compiler, Mac comes with a pre-installed version of GCC, but you can also install Xcode, which is a comprehensive IDE that supports C++. You can download it for free from the Mac App Store.
</p>
Step 2
<p>Once you have installed Xcode , you can create a new C++ project. Go to File > New > Project and select a C++ project template. You can choose from several options, such as command-line tools, macOS applications, and iOS applications. 
</p>
Step 3
<p>
    After you have created a project, you can start writing your code. Open the main.cpp file which contains the starting point of your program.  
</p>