<h3>If statement</h3>
<p>This statement is used to execute a block of code if a certain condition is true and another block of code if the condition is false. 
   <br> The general form of the if-else statement is:
</p>
<pre>
    <code>
        if (condition) {{"{"}}
  // code to be executed if the condition is true
{{"}"}} else {{"{"}}
  // code to be executed if the condition is false
{{"}"}}
    </code>
</pre>
Example.
<pre class="code-block">
    <code>
int num = 10;

if(num > 5) {{"{"}}
   cout << "This number is greater than 5." << endl;
   {{"}"}}
//output: This number is greater than 5.
    </code>
</pre>
