<h3>WHILE LOOPS
</h3>
<p>
    A While loop is similar to a For loop but a While loop runs a variable number of times and uses a CONDITIONAL.
 Let's consider the example given above and see where conditionals come in. Given that your tv is on for an
  hour but it doesn't show the channel you want. A possible algorithm for this is; <br><br>
⦁	Put tv on <br>
⦁	Show channel <br>
⦁	Check if channel is appopriate. <br>
⦁	(Conditional) if channel is not appopriate, change channel until it finds it, then displays it. <br>
 While loops are pre-test loops: the loop condition is tested before the loop body is executed. <br>
</p>
Syntax:

<pre>
    <code>
        while (condition) "{{ '{' }}"
// condition is any boolean expression
// loop body executes as long as condition is true
"{{ '}' }}"
    </code>
</pre>
