<ul class="nav flex-column sticky-top">
	<li class="nav-item">
	  <a class="nav-link active" routerLink="about" aria-current="page" href="#">About C++</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="helloworld" >Hello World!</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Functions</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Vectors</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Data Types</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Pointers</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="comments" >Comments</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="loops">Loops</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="for">For Loop</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="while">While Loop</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="dowhile">Do While Loop</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="oopconcepts">OOP Concepts</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="encapsulation">Encapsulation</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="polymorphism">Polymorphism</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="inheritance">Inheritance</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="abstraction">Abstraction</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="objects">objects</a>
	  </li>
	<!-- dropdown -->
	<div class="dropdown">
		<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
		  Dropdown link
		</a>
	  
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		  <li><a class="dropdown-item" href="#">Action</a></li>
		  <li><a class="dropdown-item" href="#">Another action</a></li>
		  <li><a class="dropdown-item" href="#">Something else here</a></li>
		</ul>
	  </div>
	<!--  -->
	<li class="nav-item">
	  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	</li>
  </ul>