<ul class="nav flex-column sticky-top">
	<li class="nav-item">
	  <a class="nav-link active" routerLink="about" aria-current="page" href="#">About C++</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" routerLink="windows" aria-current="page" href="#">C++ Environments Setup</a>
	  </li>
	<li class="nav-item">
		<a class="nav-link active" routerLink="windows" aria-current="page" href="#">Windows Setup</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link active" routerLink="linux" aria-current="page" href="#">Linux Setup</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link active" routerLink="macc" aria-current="page" href="#">Mac Setup</a>
	  </li>
	<li class="nav-item">
		<a class="nav-link" routerLink="helloworld" >C++ Hello World!</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="functions">C++ Functions</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="vectors">C++ Vectors</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="variables"> C++ Variables</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="datatypes">C++ Data Types</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="pointers"> C++ Pointers</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="structures"> C++ Structures</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="comments" >C++ Comments</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="conditionals">C++ Conditonals</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="if">C++ If Statement</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="ifelse">C++ If else Statement</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="elseif">C++ Else If statement</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="switch">C++ Switch Statement</a>
	  </li>  <li class="nav-item">
		<li class="nav-item">
		<a class="nav-link" routerLink="loops">C++ Loops</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="for">C++ For Loop</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="while">C++ While Loop</a>
	  </li>  <li class="nav-item">
		<a class="nav-link" routerLink="dowhile">C++ Do While Loop</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="oopconcepts">C++ OOP Concepts</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="encapsulation">C++ Encapsulation</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="polymorphism">C++ Polymorphism</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="inheritance">C++ Inheritance</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="abstraction">C++ Abstraction</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="objects">C++ Objects</a>
	  </li> <li class="nav-item">
		<a class="nav-link" routerLink="classes">C++ Classes</a>
	  </li>
	<!-- dropdown -->
	<!-- <div class="dropdown">
		<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
		  Dropdown link
		</a>
	  
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		  <li><a class="dropdown-item" href="#">Action</a></li>
		  <li><a class="dropdown-item" href="#">Another action</a></li>
		  <li><a class="dropdown-item" href="#">Something else here</a></li>
		</ul>
	  </div> -->
	  
	<!-- <li class="nav-item">
	  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	</li> -->
  </ul>