<h3>FOR LOOPS 
</h3>For loops are used when you know the number of times you will like an algorithm to run before it's stops. For example; you want your tv to be on for a maximum of 1h(60mins) before it goes off. You already that you want your tv to be on for 60mins. Syntax:
for(initializer; condition; update) "{{ '{' }}"
// body executed as long as condition is true
"{{ '}' }}"
⦁	The Initializeris a statement to initialize the value of the loop variable.
⦁	The condition is what is tested for the loop body to be executed. If it fails, it exists the loop.
⦁	Update is a  statement to update the value of the loop variable(s) so that the condition converges to false.
 FOR LOOPS 
For loops are used when you know the number of times you will like an algorithm to run before it's stops. For example; you want your tv to be on for a maximum of 1h(60mins) before it goes off. You already that you want your tv to be on for 60mins. Syntax:
for(initializer; condition; update) "{{ '}' }}"
// body executed as long as condition is true
"{{ '}' }}"
⦁	The Initializeris a statement to initialize the value of the loop variable.
⦁	The condition is what is tested for the loop body to be executed. If it fails, it exists the loop.
⦁	Update is a  statement to update the value of the loop variable(s) so that the condition converges to false.
