<h3>FOR LOOPS 
</h3>
<p>
    For loops are used when you know the number of times you will like an algorithm to run before it's stops.
</p>
 For example; 
 <p>
    you want your tv to be on for a maximum of 1h(60mins) before it goes off. You already that you want your tv to be on for 60mins. Syntax:
 </p>
<pre>
    <code>
        for(initializer; condition; update) "{{ '{' }}"
// body executed as long as condition is true
"{{ '}' }}"
    </code>
</pre>
	<p>⦁ The Initializeris a statement to initialize the value of the loop variable.
</p>
	<p>⦁ The condition is what is tested for the loop body to be executed. If it fails, it exists the loop.
</p>
	<p>⦁
    Update is a  statement to update the value of the loop variable(s) so that the condition converges to false.
</p>
