/* You can add global styles to this file, and also import other style files */
h3{
    color: #2A8AE3;
}
.background {
    background-color: #2A8AE3;
    color: white;

}
.code-block {
    background-color: #383B40;
    color: white;
    padding: 15px;
    margin: 20px;
}
