<h3>
    OOP Concepts
</h3>
<p>
    Object-oriented programming (OOP) is a programming paradigm that emphasizes the use of objects
 and their interactions to design and build applications. The major concepts of OOP include:
</p>
<br>
<h5>
    Abstraction
</h5>
<p>
    It is the process of simplifying complex real-world objects into a 
simplified representation that can be used in the code. It involves focusing on 
the essential characteristics of an object and ignoring its less important details.
</p>
<br>
<h5>Encapsulation</h5>
<p>
     Encapsulation is the practice of bundling data and behavior within an object and hiding
 it from the outside world. This ensures that the internal state of an object is protected and can only be accessed through
 a well-defined interface.
</p>
<br>
    <h5>
        Inheritance
    </h5>  <p>
       It  is a mechanism that allows objects to inherit properties and methods from their parent objects.
 It allows the creation of new classes based on existing ones, which reduces code duplication and promotes code reuse.
</p>
<br>
    <h5>Polymorphism</h5> <p>        Polymorphism allows objects to take on multiple forms or have different behavioural patterns based on their context.
 It enables code to be written that can work with objects of different types, making it more flexible and adaptable.
</p>
<br>
<h5>Class</h5>
<p>
 A class is a blueprint for creating objects,
 defining the properties and methods that an object of that class will have.
 It serves as a template that is used to create instances of the class.
</p>
<br>
<h5>
    Objects
</h5>
<p>
     An object is an instance of a class,
 which contains data and behavior defined by the class.
 Objects can interact with each other through their methods and properties.
</p>
<br>
<p>
    Overall, these concepts provide a foundation for building complex software systems that are modular, reusable, and easy to maintain.

</p>
