<h3>If Else conditional statement</h3>
<p>
  It is used to execute a different block of code if the given condition is
  false.
</p>
<pre >
    <code>
            if (condition) {{"{"}}
                // code to be executed if the condition is true
            {{"}"}} else {{"{"}}
                // code to be executed if the condition is false
            {{"}"}}
          
    </code>
</pre>
<pre class="code-block">
    <code>
    int value = 5;
    if (value > 10)
    {{"{"}}
    std::cout << "The value is greater than 10";
    {{"}"}}
    else
    {{"{"}}
    std::cout << "The value is less than or equal to 10";
    {{"}"}}

    </code>
</pre>
