<h3>
    Setting up a C++ in Linux.
</h3>
To perfectly set up a C++ in Linux, follow the following steps;
Step 1
Install a C++ environment in Linux, you can use the GNU Compiler Collection [GCC], which is a popular option for Linux. To install GCC open a terminal and type the following command; 
Sudo apt-get install g++

Step 2
Once you have installed GCC, you can create a new C++ file. Open a text editor, such as Nano or Vim, and type in the following code; 
<pre>
    <code>
        #include &lt;iostream&gt;
using namespace std;
int main[ ] "{{ '{' }}"

cout &lt;&lt; "Hello, World" &lt;&lt;end;
return 0;
"{{ '}' }}"
Step 3
Save your program with a .cpp extension, as helloworld.cpp
Step 4
Compile your program by typing the following command in the terminal;
g++ helloworld.cpp  -o helloworld  
This command will create and execute file named hello world.
Step 5
Run your program by typing the following command;
./helloworld
    </code>
</pre>
