<h3>
    Setting up a C++ in Linux.
</h3>
<p>
    To perfectly set up a C++ in Linux, follow the following steps;

</p>
<h5>
    Step 1

</h5>
<p>
    Install a C++ environment in Linux, you can use the GNU Compiler Collection [GCC], which is a popular option for Linux. To install GCC open a terminal and type the following command; 
Sudo apt-get install g++.
</p>

<h5>
    Step 2

</h5><p>Once you have installed GCC, you can create a new C++ file. Open a text editor, such as Nano or Vim, and type in the following code; 
</p>
<pre class="d-block code-block">
    <code>
        #include &lt;iostream&gt;
using namespace std;
int main[ ] "{{ '{' }}"

cout &lt;&lt; "Hello, World" &lt;&lt;end;
return 0;
"{{ '}' }}"
</code>
</pre>
<h5>
    Step 3

</h5><p>
    Save your program with a .cpp extension, as helloworld.cpp
</p>
<h5>
    Step 4

</h5><p>Compile your program by typing the following command in the terminal;
    g++ helloworld.cpp  -o helloworld  
    This command will create and execute file named hello world.</p>
    <h5>
        Step 5
    
    </h5><p>Run your program by typing the following command;
</p>
<pre class=" code-block">
    <code>
        ./helloworld

    </code>
</pre>
